{{> head}}
{{> navbar}}

    <div class="row">

    <div class="col-8">
        <h1>Tim Gajser</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae accusamus consequatur, fugit quae vitae eaque hic optio iure suscipit minima laudantium modi porro illum laborum voluptatem libero ullam natus mollitia!
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/timgajser.jpg" class="img-thumbnail">
    </div>

</div>
    

{{> footer}}







